/* Basic CSS for a sample application */

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    min-height: 100vh;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
    border: 1px solid #007bff;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

header {
    padding: 20px;
    background-color: black;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

footer {
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.modal {
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}